<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grand.Mygrandchildren">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_frchild"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_frchild_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.grand.Mygrandchildren.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name="com.grand.Mygrandchildren.HowtouseActivity"
            android:exported="true" />
        <activity
            android:name="com.grand.Mygrandchildren.ProfileActivity"
            android:exported="true" />

        <service android:name="com.grand.Mygrandchildren.FloatingControlService" />
        <service android:name="com.grand.Mygrandchildren.FloatingControlMsg" />
        <service android:name="com.grand.Mygrandchildren.FloatingControlCamera" />
        <service android:name="com.grand.Mygrandchildren.FloatingControlKakaotalk" />

        <activity
            android:name="com.grand.Mygrandchildren.FaqActivity"
            android:exported="true" />
        <activity
            android:name="com.grand.Mygrandchildren.IconActivity"
            android:exported="true" />
        <activity
            android:name="com.grand.Mygrandchildren.FavoriteActivity"
            android:exported="true" />
        <activity
            android:name="com.grand.Mygrandchildren.FloatingActivity"
            android:exported="true" />
        <activity
            android:name="com.grand.Mygrandchildren.SettingActivity"
            android:exported="true" />
        <activity
            android:name="com.grand.Mygrandchildren.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grand.Mygrandchildren.MainActivity"
            android:exported="true" />
    </application>

</manifest>